<section role='about' class='content'>
	<h2>Participa</h2>
	<p>La plataforma de participación ciudadana para veeduría de publicidad electoral <i>Participa</i> se realizo en 
	el marco del Hack contra la Corrupción Bogotá, el 6 de Octubre del 2012.</p>
	<p>A través de la plataforma los ciudadanos pueden contribuir su información para hacer seguimiento a los gastos de
	campaña reportados de los candidatos.</p>
	<p>La legislación colombiana contempla diferentes reglas para limitar y controlar la forma en que los candidatos hacen
	publicidad, para mantener un equilibrio entre los participantes y evitar grandes desigualdades.</p>
	<img src='http://www.sonoraciudadana.org.mx/images/noticias/13231501811.jpg' class='p1'/>
</section>



