<div id='perfilCandidato'>
	<div class='picture' style='background-image:url("http://lorempixel.com/400/400/");'>
	</div>
	<dl class='details'>
		<dt>Nombre</dt>
			<dd>Carliños</dd>
		<dt>Cedula</dt>
			<dd>101892192</dd>
		<dt>Se ha robado</dt>
			<dd>19999999</dd>
	</dl>
</div>
