<div id='perfilCandidato'>
	<div class='picture' style='background-image:url("http://lorempixel.com/400/400/");'></div>
	<div class='logo' style='background-image:url("http://3.bp.blogspot.com/-5ixb9-yG2vc/T6pphSBcYEI/AAAAAAAAAAY/_T--SM3OgGY/s1600/partido_verde.jpg");'></div>
	<dl class='details'>
		<dt>Nombre</dt>
			<dd>Carliños</dd>
		<dt>Cedula</dt>
			<dd>101892192</dd>
		<dt>Se ha robado</dt>
			<dd>19999999</dd>
	</dl>
</div>
