<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Participa</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%= menu %>

<div class="container" role="main">
	<%= yield %>
	</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/javascript/general.js"></script>
    <script src="/javascript/upload.js"></script>
    <script src="/javascript/maps.js"></script>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBiTRmHyGlvcT4vZGfExrINqTuHd9KYb0Y&sensor=false&language=es"></script>


</body>
</html>
