<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Participa</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
	<div class="container">
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/reportes">Reportes</a></li>
			<li><a href="#">Stats</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</div>
</nav>

<div class="container" role="main">
	<%= yield %>
	</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/javascript/general.js"></script>
    <script src="/javascript/upload.js"></script>

</body>
</html>
