<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
	<%= yield %>
	</div>
</body>
</html>