<div class="mr-main-containter">
   <div class="mr-content">
	<div class="mr-left">
		foto-video
	</div>
	<div class="mr-right">
		<div class="mr-report-rating" >Calificaciòn Reporte</div>	
	</div>
   </div>
   <div class="mr-down" >
	<div class="mr-user-data">
		<div class="mr-user-photo"></div>	
	</div>	
   </div>
</div>
