<%= wayrapascua %>
<section class="newreport">
    <form action="/reportes/nuevo" method="post" enctype="multipart/form-data">
        <div class="middle">
            <div class="formcamp">
                <label for="Tipo">Tipo</label>
                <input type="text" name="advertising_piece">
                <p>¿Que tipo de publicidad es la que encontraste? <strong>Radial, Television, valla, etc</strong></p>
            </div>
            
            <div class="formcamp">
                <label for="Tipo">Candidato</label>
                <select name="candidate_id" >
                <% @cand.each do |can| %>
                    <option value="<%= can['id'] %>"><%= can["name"] %></option>
                <% end %>
                </select>
                <p>¿A que candidato corresponde?</p>
            </div>
            
            <div class="formcamp">
                <label for="Tipo">Descripcion</label>
                <textarea name="description" cols="30" rows="10"></textarea>
                <p>¿Que tipo de publicidad es la que encontraste?</p>
            </div>
        </div>
        <div class="middle">
        
            <div class="formcamp">
                <label for="archivo">Archivo</label>
                <input type="file" name="file">
                <p>Adjunta la imagen o el video que deseas reportar.</p>
            </div>
            
            <div class="formcamp">
            <label for="location">Lugar: </label>
            
             <iframe width="100%" height="310px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=4.67498,-74.068451&amp;spn=0.198122,0.307961&amp;t=m&amp;z=12&amp;output=embed"></iframe>
             </div>
             
            
        </div>
        
        <div class="button">
        <input type="submit" value="Reportar" class="reporta">
        </div>
    </form>    
</section>