<div class="mr-main-containter">
   <div class="mr-content">
	<div class="mr-left">
		<div class="mr-form">
			<form method="POST">
			<div>
			   <label for="titulo" class="titulo">Título del Reporte</label>
			   <input type="text" name="titulo" />
			</div>
			<div>
				    
			   <label for="titulo" class="titulo">Descripción del Reporte</label>
			   <textarea name="descripcion"></textarea>
			</div>
			    
			</form>
		</div> 
		<div class="mr-case-photo"></div>
	</div>
	<div class="mr-right">
		<div class="mr-report-rating" >Calificaciòn Reporte</div>	
	</div>
   </div>
   <div class="mr-down" >
	<div class="mr-user-data">
		<div class="mr-user-photo"></div>	
	</div>	
   </div>
</div>
