<br><br>
<section role="reporte">
	<div class="reporte">
		<div class="imagen">
			<img src="http://lorempixel.com/500/300" alt="">
		</div>
		<div class="info">
			<header>
				<hgroup>
					<h1>Valla en wayra</h1>
				</hgroup>
			</header>
			
			<div class="desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde obcaecati possimus eveniet eos eligendi suscipit atque? Mollitia quo reiciendis nam corrupti repellendus doloremque ut exercitationem ad expedita vitae temporibus minima!</p>
			</div>
		</div>
		<hr>
		<div class="reportinfo">
			<p><strong><i class="icon-user"></i> Reportado por: </strong> anonimo</p>
            <p><strong><i class="icon-map-marker"></i> Ubicacion: </strong> Wayra Colombia</p>
		</div>
	</div>
	
	<div class="comments">
		        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'corruptly'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
	</div>
</section>

<aside>
	<div class="social">
		<div class="fb">
			<div class="fb-like" data-href="http://balotimetro.com" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
		</div>
		
		<div class="tw">
			<div class="tw-like">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
	
	<div id="mapaGoogle">
        <iframe width="270" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=colombia&amp;aq=&amp;sll=40.396764,-3.713379&amp;sspn=12.491677,29.465332&amp;ie=UTF8&amp;hq=&amp;hnear=Colombia&amp;ll=4.570868,-74.297333&amp;spn=8.177274,14.732666&amp;t=m&amp;z=7&amp;output=embed"></iframe>
    </div>
</aside>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=331110490318490";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>