<ul id="contFiltros">
    <li><a href"#" class="filtros">Filtrar por Ciudad</a></li>
    <li><a href"#" class="filtros">Filtrar por Candidato</a></li>
</ul>
<ul id="contReportes">
    <li>
        <div class="imgGrande"></div>
        <div class="contPerfil">
            <div class="imgPerfil"></div>
            <div class="contTitulo">
                <h2 class="tituloPerifl"></h2>
                <span class="reportado">Reportado por:</span><span class="nombre">Anonimo</span><span>Ubicacion:</span><span>Wayra Colombia</span>
            </div>
        </div>
        <div class="contLike">
            <div class="likes"></div>
            <div class="cantLikes"></div>
        </div>
    </li>
</ul>
<section>
    <div id="mapaGoogle"></div>
</section>
