<ul id="contFiltros">
    <li><a href"#" class="filtros">Filtrar por Ciudad</a></li>
    <li><a href"#" class="filtros">Filtrar por Candidato</a></li>
</ul>

<section role="reportes">
    <div class="contReportes">
        <div class="imgGrande" style="background-image:url('http://lorempixel.com/400/400')"></div>
        <div class="info">
            <header>
                <div class="imagePerfil" style="background-image:url('http://lorempixel.com/80/80')"></div>
                <div class="infope">
                    <hgroup>
                        <h1 class="tituloPerfil">Valla en wayra</h1>
                    </hgroup>
                    <p><strong><i class="icon-user"></i> Reportado por: </strong> anonimo</p>
            <p><strong><i class="icon-map-marker"></i> Ubicacion: </strong> Wayra Colombia</p>
                </div>
            </header>
            
        </div>
        <hr class="sepReport">
        <div class="contLikes">
            <div class="likes">
                <img src="http://lorempixel.com/48/48" alt="">
                <img src="http://lorempixel.com/48/48" alt="">
                <img src="http://lorempixel.com/48/48" alt="">
                <img src="http://lorempixel.com/48/48" alt="">
                <img src="http://lorempixel.com/48/48" alt="">
            </div>
            <div class="cantLikes">
                <p><i class="icon-thumbs-up"></i> 1.000</p>
            </div>
        </div>
    </div>
    
</section>

<aside>
    <div id="mapaGoogle"></div>
</aside>