#rails specific
*.sqlite3
config/database.yml
log/*
tmp/*

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
## CSS Cache
web/.sass-cache/
