a {
	cursor:pointer;
}

/* algo de crosbrowser */
@import "normalize";

/* vamos mas rapido con crosbrowser */
@import "mixins";

/* estilos principales del layout */
@import "layout";

/* estilos principales del formularios */
@import "forms";

@import "icons";

/* estilos del perfil del candidato */
@import "candidato";

@import "reportes";
<<<<<<< HEAD

section[role='about']{
	background:white;
	border-radius:5px;
	position:relative;
	margin-top:10px;
	padding:0px 10px 10px;
	h2 {
		border-bottom:1px solid #1876DF;
		width:70%;
		padding:3px 10px 5px;
	}
	p{
		padding:0px 15px;
		width:57%;
	}
	.p1 {
		position:absolute;
		right:-90px;
		top:-12px;
		background:white;
		padding:3px;
		border:1px solid gray;
		@include trans();
	}
}
=======
@import "reporte"
>>>>>>> 53df3f5e3c3782580e2e8dd7fe82b564f6ce296a
